body {
    background-color: darkturquoise
}

.calculator-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: .50rem;
    height: 100vh;
    border: 35px;
    border-color: salmon;
    border-style: groove;
    border-radius: 45px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    background-color: blanchedalmond;
}

button {
    background-color: lightskyblue;
    color: whitesmoke;
    height: 100px;
    width: 85px;
    border: 6px;
    border-radius: 20px;
    border-style: inset;
    border-color: white;
    font-size: xx-large;
    margin: 4px;
}

.add{
    background-color: springgreen;
}

.subtract{
    background-color: coral;
}

.divide{
    background-color:chocolate;
}

.multiply{
    background-color:slateblue;
}

.calculator-display {
    background-color:whitesmoke;
    color: black;
    font-size: xx-large;
    width: 420px;
    height: 120px;;
    border: 11px;
    border-style: outset;
    border-color: salmon;
    border-radius: 10px;
    margin-bottom: 3px;
    color: royalblue;
}

.equals {
    font-size: xx-large;
    width: 280px;
    margin-top: 5px;
    background-color: lightpink;
}

.number-frame{
    border: 15px;
    border-color: salmon;
    border-style:inset;
    border-radius: 20px;
}

.undo{
    background-color:palevioletred
}