body {
    background-color: black;
}

button {
    background-color: slategray;
    color: palegreen;
    height: 125px;
    width: 80px;
    border: 5px;
    border-style: inset;
    border-color: green;
    font-size: larger;
}

.calculator-display {
    background-color: whitesmoke;
    color: green;
    font-size: xx-large;
    width: 325px;()
    margin-bottom: 10px;
    border: 6px;
    border-style: inset;
    border-color: aquamarine;
    border-radius: 30px;
}